<h1>Search for city by name:</h1>
<form action="/cities/show" method="post">
  <label for="cityName">City name</label>
  <input id="cityName" name="cityName" type="text">
  <button type="submit">Search</button>
</form>