<h1>Search for country by name:</h1>
<form action="/country/show" method="post">
  <label for="countryName">Country name</label>
  <input id="countryName" name="countryName" type="text">
  <button type="submit">Search</button>
</form>